<div class="hero-header" >
    <div class="main-header">

        <div class="header-text">
            <div class="title-container">
                <span class="header-span">
                     <h2 class="title-anim">HEATING</h2>
                </span>
                <span class="header-span">
                    <h2 class="title-anim">plumbing</h2><br>
                </span>
                <span class="header-span">
                <h2 class="title-anim">& watering</h2><span class="orangered">.</span>
                </span>

            </div>
            <div class="text-container">
                <p>
                    Installateur, conseiller chauffage peb et technicien chaudière (gaz + mazout). Heat & Grow vous dépanne (service 24h/24 et 6j/7), installe et gère la maintenance de vos installations .
                </p>
            </div>
        </div>
        <div class="header-blocks">
            <div class="left-blocks">
                <div class="block block-anim">
                    <img src="{{ images.ground }}" alt="">
                </div>
                <div class="block call-to-action block-anim">
                    <a href="">
                        Voir nos <br> services <br> & nos tarifs
                    </a>
                </div>
            </div>
            <div class="main-block block-anim">
                    <img src={{ images.chauffage}} alt="">

            </div>
        </div>
    </div>
</div>
