<div class="hero-header" >
    <div class="main-header">

        <div class="header-text">
            <div class="title-container">
                <h2>
                    HEATING <br>
                    plumbing <br>
                    & watering<span class="orangered">.</span>
                </h2>
            </div>
            <div class="text-container">
                <p>
                    Installateur, conseiller chauffage peb et technicien chaudière (gaz + mazout). Heat & Grow vous dépanne (service 24h/24 et 6j/7), installe et gère la maintenance de vos installations .
                </p>
            </div>
        </div>
        <div class="header-blocks">
            <div class="left-blocks">
                <div class="block">
                    <img src="{{ images.ground }}" alt="">
                </div>
                <div class="block call-to-action">
                    <a href="">
                        Voir nos <br> services <br> & nos tarifs
                    </a>
                </div>
            </div>
            <div class="main-block">
                    <img src={{ images.chauffage}} alt="">

            </div>
        </div>
    </div>
</div>
