<section class="philo">
    <div class="title-container">
        <div class="emphase">
            <h4>Our phylosophy ||</h4>
        </div>
    </div>
    <div class="text-container">
        <div class="text-block">
            <div class="subtitle">
                <h4>
                    “Des produits technico-industriel fabriqués de manière locale, est-ce possible? Sachant que la plupart des fabricants s’exporte ?”
                </h4>
            </div>
            <div class="inner-text">
                <p>
                    Pour le choix des produits, la recherche est encore en cours. Il est difficile de trouver des acteurs locaux dans ces services. Spécifiquement en relation avec la conception ou fabrication d’usinage des générateurs ou de leurs pièces détachées.


                </p>
                <br>
                <br>

                <p>
                    Ces entreprises étant principalement délocalisées pour leur profit. Seuls ACV Belgium et Remeha proposent des produits (parfois) produit dans le Benelux.

                </p>
            </div>
        </div>
        <div class="text-block">
            <div class="subtitle">
                <h4>
                    “Tout les déchets ne peuvent pas être « surcyclés »? Comment faites vous lors de démolition etc ?”                </h4>
            </div>
            <div class="inner-text">
                <p>
                    Il a été choisi de créer une collaboration avec ROTOR DECONSTRUCTION pour nos déchets et futurs achats. Rotor DC est pionnier dans le sauvetage de matériaux et éléments constructifs ou décoratifs dans des bâtiments voués à la démolition.




                </p>
                <br>
                <br>

                <p>
                    Dans le cadre du développement durable, ROTOR DC propose de reprendre des matériaux démontés par mes soins qui seront destiné à être revendu (bon d’achat estimé à 50% de la valeur de revente).
                    Cette action répond au recyclage des déchets de construction comme suit :
                    Revêtement de sol en pierre naturelle (marbre,…), luminaires ,équipements sanitaires
                    Planchers,... En second plan, une collaboration avec CARODEC est également définie.
                </p>
            </div>
        </div>
    </div>
</section>
