
<div class="about">
<div class="title-container">
    <div class="emphase">
        <h4>Who are we</h4>
    </div>
    <div class="section-title">
        <h2>A propos <br> de nous <span class="orangered">.</span> </h2>
    </div>
</div>
    <div class="section-text-container ">
        <div class="left-gap-text">
        <p>
            Chauffagiste depuis bientôt dix ans, nous sommes spécialistes en technique de chauffage. En bref, un chauffagiste sur Bruxelles et en Wallonie. Vous pouvez nous contacter pour réaliser votre entretien de chaudière, le détartrage de vos appareils, vos systèmes de régulation et pourquoi pas, vos installations de plomberie et d’adoucisseurs.


        </p>
           <p>N’hésitez pas à consulter nos agréations disponible sur le site. La transparence est un point d’honneur.</p>

        </div>

    <div class="right-gap-text">
        <p>
            Nous sommes agréés pour la région Bruxelloise et la région Wallonne.
            Nous continuons à nous mettre à jour en permanence via les recyclages et n’hésiterons pas, avec le temps, à obtenir ceux de la région Flamande.
            <br>
            <br>
            Conseiller chauffage PEB (Bruxelles),
            Installateur en chauffage centrale, gaz et sanitaire ainsi que ventilation et climatisation, Technicien chaudière G1 pour les combustibles gazeux,
            Technicien chaudière en combustible liquide (Cédicol),
        </p>
    </div>
</div>
</section>
