





@font-face {
    font-family: 'Calibre';
    src: url('./../fonts/Calibre-Medium.ttf');
    src: local('Calibre Medium'), local('Calibre-Medium'),
        url('./../fonts/Calibre-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Calibre';
    src: url('./../fonts/Calibre-Light.ttf');
    src: local('Calibre Light'), local('Calibre-Light'),
        url('./../fonts/Calibre-Light.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}



@font-face {
    font-family: 'Calibre';
    src: url('./../fonts/Calibre-Bold.ttf');
    src: local('Calibre Bold'), local('Calibre-Bold'),

        url('./../fonts/Calibre-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Calibre';
    src: url('./../fonts/Calibre-Regular.ttf');
    src: local('Calibre'), local('Calibre-Regular'),
        url('./../fonts/Calibre-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}




