{% extends getf('base') %}
{% import getf('button') as button %}

{% block body %}

<section class="contact-page" id="contact">
    <div class="title-wrapper">
        <div class="title-container">
            <div class="section-title">
                <h2>tutoriels <br> & articles <span class="orangered">.</span> </h2>
            </div>
        </div>
    </div>
</section>
