{% extends getf('base') %}
{% import getf('button') as button %}


{% block body %}


{{ dump(posts) }}
  <div class="home"  data-barba="container" data-barba-namespace="home">
    <div class="home-wrapper">
{%  include 'hero.twig'  %}
    {%  include 'who.twig'  %}
    {% include 'philosophy.twig'%}
    {% include 'philo.twig'%}

    </div>
  </div>
{% endblock %}
