{% extends getf('base') %}
{% import getf('button') as button %}

{% block body %}

<section id="service" data-barba="container" data-barba-namespace="service">
    <div class="title-wrapper">
        <div class="green-square">

        </div>
        <div class="title-container">
            <div class="section-title">
                <h2>Service <br> & tarifs <span class="orangered">.</span> </h2>
            </div>
        </div>
        <div class="subtitle-container">
            <h4>
                Installation, dépannage, remplacement et réparation de vos installations chauffages. Heat & Grow s’occupe de l’installation des différents systèmes de chauffage au sein de votre logement.
            </h4>
        </div>
        <div class="call-to-action">
            <button>
                <a href="">Nous contacter</a>
            </button>
        </div>

    </div>

    <div class="service-slider-container swiper-container">
        <div class="slide-item swiper-wrapper">
            <div class="slide-content swiper-slide ">
                <h3>
                    Entretien Chaudière
                </h3>
                <h4>
                    à mazout ou contrôle périodique mazout (<70kw, 233 Euros HTVA)
                </h4>
                <ul>
                    <li>Entretien du générateur.</li>
                    <li>Entretien du brûleur + sécurité.</li>
                    <li>Vérification des différents organes de votre installation.</li>
                    <li>Analyse de combustion.</li>
                    <li>Certificat de contrôle pour l’IBGE et votre assurance.</li>
                    <li>Vérification relative à la conversion au gaz riche.</li>
                </ul>
            </div>
                <div class="slide-content swiper-slide ">
                <h3>
                    Entretien Chaudière
                </h3>
                <h4>
                    à mazout ou contrôle périodique mazout (<70kw, 233 Euros HTVA)
                </h4>
                <ul>
                    <li>Entretien du générateur.</li>
                    <li>Entretien du brûleur + sécurité.</li>
                    <li>Vérification des différents organes de votre installation.</li>
                    <li>Analyse de combustion.</li>
                    <li>Certificat de contrôle pour l’IBGE et votre assurance.</li>
                    <li>Vérification relative à la conversion au gaz riche.</li>
                </ul>
            </div>
                <div class="slide-content swiper-slide ">
                <h3>
                    Entretien Chaudière
                </h3>
                <h4>
                    à mazout ou contrôle périodique mazout (<70kw, 233 Euros HTVA)
                </h4>
                <ul>
                    <li>Entretien du générateur.</li>
                    <li>Entretien du brûleur + sécurité.</li>
                    <li>Vérification des différents organes de votre installation.</li>
                    <li>Analyse de combustion.</li>
                    <li>Certificat de contrôle pour l’IBGE et votre assurance.</li>
                    <li>Vérification relative à la conversion au gaz riche.</li>
                </ul>
            </div>
                <div class="slide-content swiper-slide ">
                <h3>
                    Entretien Chaudière
                </h3>
                <h4>
                    à mazout ou contrôle périodique mazout (<70kw, 233 Euros HTVA)
                </h4>
                <ul>
                    <li>Entretien du générateur.</li>
                    <li>Entretien du brûleur + sécurité.</li>
                    <li>Vérification des différents organes de votre installation.</li>
                    <li>Analyse de combustion.</li>
                    <li>Certificat de contrôle pour l’IBGE et votre assurance.</li>
                    <li>Vérification relative à la conversion au gaz riche.</li>
                </ul>
            </div>
                <div class="slide-content swiper-slide ">
                <h3>
                    Entretien Chaudière
                </h3>
                <h4>
                    à mazout ou contrôle périodique mazout (<70kw, 233 Euros HTVA)
                </h4>
                <ul>
                    <li>Entretien du générateur.</li>
                    <li>Entretien du brûleur + sécurité.</li>
                    <li>Vérification des différents organes de votre installation.</li>
                    <li>Analyse de combustion.</li>
                    <li>Certificat de contrôle pour l’IBGE et votre assurance.</li>
                    <li>Vérification relative à la conversion au gaz riche.</li>
                </ul>
            </div>
                <div class="slide-content swiper-slide ">
                <h3>
                    Entretien Chaudière
                </h3>
                <h4>
                    à mazout ou contrôle périodique mazout (<70kw, 233 Euros HTVA)
                </h4>
                <ul>
                    <li>Entretien du générateur.</li>
                    <li>Entretien du brûleur + sécurité.</li>
                    <li>Vérification des différents organes de votre installation.</li>
                    <li>Analyse de combustion.</li>
                    <li>Certificat de contrôle pour l’IBGE et votre assurance.</li>
                    <li>Vérification relative à la conversion au gaz riche.</li>
                </ul>
            </div>

        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
        <!-- Add Arrows -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>
</section>
{% endblock %}
