.about {
	width: 100%;
	max-width: 960px;
	margin: 65px auto;
	position: relative;

	.grey-background {
		width: 100vw;
		height: 150vh;
		position: absolute;
		background-color: #f4f4f4;
		left: -117px;
		top: -64%;
		z-index: -1;
	}
svg {
	position: absolute;
	bottom: -111px;
	right: -155px;
}

	.title-container {
		.emphase {
			h4 {
				font-style: normal;
				font-weight: bold;
				font-size: 18px;
				line-height: 100%;
				letter-spacing: 0.1em;
				text-transform: uppercase;
				color: $main-color;
			}
		}
		.section-title {
			margin-top: 36px;
			h2 {
				font-size: 64px;
				font-weight: 700;
				text-transform: uppercase;
			}
		}

	}

	.section-text-container {

		max-width: 830px;
		width: 100%;
		margin: 56px auto;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-column-gap: 150px;
		div {
			width: 340px;
			&.left-gap-text {
			display: grid;
			grid-row-gap: 40px;

			}
			&.right-gap-text {
				position: relative;
				p {
					position: absolute;
					width: 296px;
					top: -34%;

				}
				.second-text {
					margin-top: 40px;
				}
			}
			p {
				font-style: normal;
				font-weight: 300;
				font-size: 20px;
				line-height: 130%;
				letter-spacing: 0.01em;

			}
		}

	}

}
@media only screen and (max-width: 970px) {

	.about {

		.section-text-container {
			grid-column-gap: 34px;
		}
	}
}

@media only screen and (max-width: 830px) {
	.title-container {
		margin: auto;
		max-width: 520px;
		width: 100%;
	}

	.about {

		.section-text-container {
			grid-template-columns: 1fr;
			justify-items: center;
		}

	}
	.background-layer {
		display: none;
	}
	.about .section-text-container div.right-gap-text p {
		position: relative;
		top: 0;
	}
}
